* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    font-family: "Fira Sans", sans-serif;
}

h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

h2 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}
p {
    font-weight: 200;
    font-size: 13px;
}

/*Header---------------------------------*/
header{
    background: #f1f1f1;
    height: 100px;
}

.logo img{
    max-width: 200px;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    color: #1D2B3C;
    margin-right: 40px;
    font-size: 14px;
}

.nav-links a:hover {
    color: #c7a500
}

.nav-links {
    margin-right: 40px;
}

.current {
    border-bottom: 3px solid #c7a500;
    padding-bottom: 3px;
    justify-content: center;
}
.current:hover {
    color: none;
}

/*Imagen cabezera----------------------*/
.main-bg {
    height: 400px;
    margin: 0px;
    background-image: url(images/header.png);
    background-size: cover;
    background-position: bottom;
    background-color: #002f6c;
    display: flex;
    align-items: center;
}

.intro {
    padding: 30px;
    margin-left: 30px;
    max-width: 40%;
}

/*Options*/
.options-web {
    background: #002f6c;
    padding: 0 30px 0;
    height: 100px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    line-height: 1.3;
}
.search-box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;

}

.search-box i{
    margin: 0 10px 0;
}

.search-box input{
    background: #fff;
    color: #1D2B3C;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    border: none;
    width: 300px
 }

 .sort {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
 }
    
 select {
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    margin: 0 6px 0;
    width: 250px;
    flex-wrap: wrap;
}
     
select:focus{ 
    outline: none;
}

#value-btn {
    background: #4f83cc;
    color: #fff;
    padding: 10px 20px 10px;
    margin-left: 8px;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#value-btn:hover {
    background: #f1f1f1;
    color: #1D2B3C;
}


/*Pokemon Cards */
#cards-container {
    background: #01579b;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.pokemon-card{
    border: #c7a500 3px solid;
    border-radius: 10px;
    padding: 20px;
    width: 170px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 14px 28px #002f6c40, 0 10px 10px #002f6c40;    
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pokemon-card:hover {
    background: #fff;
    border: #002f6c 3px solid;
    box-shadow: 0 14px 28px #002f6c, 0 10px 10px #002f6c;

}
.pokemon-name {
    font-size: 16px;
    font-weight: 400;
}
        
.pokemon-number {
    font-size: 15px;
}

.pokemon-card img {
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

/*FOOTER--------------------------*/
footer {
    display: flex;
}

.footer-content {
    background: #f1f1f1;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.info-box {
    display: flex;
    align-items: center;
}

.footer-info {
    width: 50%;
}

.subscribe {
    padding: 30px
}

.social-icons img{
    max-width: 25px;
    margin-top: 10px;
}

.subscribe input {
    border: 2px solid #ffd600;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 200px;
    font-family: "Fira Sans", sans-serif;
}

#subscribe-btn {
    background: #ffd600;
    color: #1D2B3C;
    padding: 10px 20px 10px;
    margin-left: 10px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

#subscribe-btn:hover {
    background: #c7a500;

}



.copyright{
    display: block;
    text-align: center;
    padding-top: 17px;
    font-size: 14px;
    height: 50px;
    background: #002f6c;
    color: #fff;
    width: 100%;
    box-sizing: border-box;

}
.copyright a{
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
}
.copyright a:hover{
    color: #ffd600;
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    right: -9px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #002f6c;
    color: white;
    padding: 13px 30px 13px 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  #back-to-top:hover {
    background-color: #4f83cc;
  }

  .s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 11px/22px Arial, Sans-Serif;
    color:black;
    border:1px solid #ccc;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    font-weight:bold;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}

/* RESPONSIVE -------------------------*/
@media (max-width:1224px){
    #subscribe-btn{
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (max-width:1092px){
    .subscribe {
        padding: 0 20px 0 0;
    }
}

@media (min-width: 768px) and (max-width:1092px){
    .options-web {
    justify-content: center;
    padding: 10px 20px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .pokemon-card {
    padding: 20px;
    }
    .intro{
    margin: 0;
    max-width: 80%;
    }

    .footer-content{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: auto;
    }

    .info-box {
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 15px;
    }
    
    .options-web { 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding: 20px 0;
    }

    .sort {
        margin: 10px 6px 0 10px;
    }
    .subscribe {
        padding: 20px;
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {
    header img {
        max-width: 160px;
    }

    #cards-container {
        padding: 15px;
    }

    .pokemon-card {
        padding: 20px;
        width: 33%;
    }
    .copyright{
        height: 70px;
        padding: 15px 25px 0 25px;
    }

    .footer-info {
        width: 100%;
        text-align: center;
        margin: 0 10px;
    }
}

@media (min-width:561px) and (max-width:694px){
    #value-btn {
        margin-top: 10px;
    }
}

@media (max-width: 561px) {
    .nav-links {
        background: #f1f1f1;
        width: 100%;
        margin: 0;
        padding: 0 0 10px;
        display: flex;
        justify-content: center;
    }

    .nav-links a{
        margin: 0px 20px 0px;
        font-size: 12px;
    }
    
    .logo a {
        padding: 0;
        margin: 0;
    }

    nav {
        justify-content: center;
    }

    .sort {
        display: block;
        text-align: center;
    }

    select {
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {
    .search-box input {
        width: 250px;
    }
    .pokemon-card {
        padding: 20px;
        width: 60%;
    }

}

