* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    font-family: "Fira Sans", sans-serif;
}

h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

h2 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}
p {
    font-weight: 200;
    font-size: 13px;
}

/*Header---------------------------------*/
header{
    background: #f1f1f1;
    height: 100px;
}

.logo img{
    max-width: 200px;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    color: #1D2B3C;
    margin-right: 40px;
    font-size: 14px;
}

.nav-links a:hover {
    color: #c7a500
}

.nav-links {
    margin-right: 40px;
}

.current {
    border-bottom: 3px solid #c7a500;
    padding-bottom: 3px;
    justify-content: center;
}
.current:hover {
    color: none;
}

/*Imagen cabezera----------------------*/
.main-bg {
    height: 400px;
    margin: 0px;
    background-image: url(images/header.png);
    background-size: cover;
    background-position: bottom;
    background-color: #002f6c;
    display: flex;
    align-items: center;
}

.intro {
    padding: 30px;
    margin-left: 30px;
    max-width: 40%;
}

/*Options*/
.options-web {
    background: #002f6c;
    height: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around ;
    flex-wrap: wrap;
    font-size: 16px;
    font-family:  "Fira Sans", sans-serif;
    font-weight: 400;
    line-height: 1.3;

}

.search-box {
    background: #fff;
    color: #1D2B3C;
    border-radius:30px;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    padding: 0px 0px 0px;
    margin:20px auto 40px auto;	
   text-align: center;
   justify-content :center;
 }
    
 select {
        background: d9d9d9; 
        border: none;
        font-size: 14px;
        height: 30px;
        padding: 5px;
        width: 250px;
        flex-wrap: wrap;
     }
     
select:focus{ outline: none;}
    

.sorty-box{
    padding: 20px 50px 50px;
    border-radius:30px;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif; 
}

.filter-box {
    padding: 10px 20px 10px;
    border-radius:30px;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
}

 
#value-btn {
 background:rgb(241, 241, 239);
 color:#1D2B3C; 
 padding: 10px 20px 10px;
 border-radius:30px;
 font-size: 14px;
 font-family: "Fira Sans", sans-serif;
}

  
  /* NAVEGADOR  */
  


/*Pokemon Cards */
#cards-container {
    background: #01579b;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.pokemon-card{
    border: #c7a500 3px solid;
    border-radius: 10px;
    padding: 25px;
    width: 170px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 14px 28px #002f6c40, 0 10px 10px #002f6c40;    
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pokemon-card:hover {
    background: #fff;
    border: #002f6c 3px solid;
    box-shadow: 0 14px 28px #002f6c, 0 10px 10px #002f6c;

}
.pokemon-name {
    font-size: 15px;
    font-weight: 400;
}
.pokemon-card img {
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

/*FOOTER--------------------------*/
footer {
    display: flex;
}

.footer-content {
    background: #f1f1f1;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.info-box {
    display: flex;
    align-items: center;
}

.footer-info {
    width: 50%;
}

.subscribe {
    padding: 30px
}

.social-icons img{
    max-width: 25px;
    margin-top: 10px;
}

.subscribe input {
    border: 2px solid #ffd600;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 200px;
    font-family: "Fira Sans", sans-serif;
}

#subscribe-btn {
    background: #ffd600;
    color: #1D2B3C;
    padding: 10px 20px 10px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
}


.copyright{
    display: block;
    text-align: center;
    padding-top: 17px;
    font-size: 14px;
    height: 50px;
    background: #002f6c;
    color: #fff;
    width: 100%;
    box-sizing: border-box;

}
.copyright a{
    text-align: center;
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
}
.copyright a:hover{
    color: #ffd600;
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    right: -9px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #002f6c;
    color: white;
    padding: 13px 30px 13px 20px;
  }
  
  #back-to-top:hover {
    background-color: #4f83cc;
  }



/* RESPONSIVE -------------------------*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .pokemon-card {
    padding: 20px;
  }
  .intro{
    margin: 0;
    max-width: 80%;
  }
  .footer-content{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: auto;
    }

  .info-box {
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 15px;
    }
    
  .options-web { 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: auto;
    }

}

@media only screen and (max-width: 600px) {
    header img {
        max-width: 160px;
    }
    .pokemon-card {
        padding: 20px;
        width: 70%;
    }
    .copyright{
        height: 70px;
        padding: 15px 25px 0 25px;
    }

    .footer-info {
        width: 100%;
        text-align: center;
        margin: 0 10px;
    }

}

@media (max-width: 561px) {
    .nav-links {
        background: #fff;
        width: 100%;
        margin: 0;
        padding: 0 0 10px;
        display: flex;
        justify-content: center;
    }

    .nav-links a{
        margin: 0px 20px 0px;
        font-size: 12px;
    }
    
    .logo a {
        padding: 0;
        margin: 0;
    }

    nav {
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .subscribe {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

